.app-features .container {
    padding-top: 2rem;
    padding-bottom: 3rem;
    position: relative;

    .heading {
        text-align: center;
        margin-bottom: 2rem;
    
        h2 {
          @include display7;
          margin-bottom: 1rem;
        }
    
        p {
          @include large-text;
          line-height: 1.8rem;
        }
    }
      
 
    .features {
      margin-top: 1rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 1.3rem;
    
        h5 {
          @include display8;
          margin-top: .3rem;
          margin-bottom: .5rem;
        }
    
        p {
          @include medium-text;
          line-height: 1.6rem;
        }
    }
    
    .phone-yourcards {
      display: none;
    }
    
    .credit-card {
      position: absolute;
      left: 30px;
      top: 120px;
    } 

}
   

  @include tablet {
    .app-features .container {

    .heading {

        h2 {
            @include display6;
        }
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
      }
    }
  }

  @include desktop {

    .app-features .container {
        display: flex;
        gap: 14rem;
    

        .phone-yourcards {
            display: flex;
        }
    }
       
}
