.transfers .container {
    display: none;
    padding-block: 8rem;
    padding-left: 7rem;
    gap: 3rem;
    
    h3 {
      @include display6;
    }
  
    p {
      @include medium-text;
      line-height: 1.5rem;
    }
  
    .learn-more {
      @include flexbox;
      width: 10rem;
      height: 3rem;
      gap: 1rem;
    }

    .left-explanation {
      padding-top: 5rem;
      justify-content: center;

     
      .text-top {
        margin-bottom: 10rem;
  
        h3 {
          padding-bottom: 1rem;
        }
    
        ul {
          margin-bottom: 2.5rem;;
        }
        
        li {
        padding-top: .8rem;    
        }
    
        .check {
          vertical-align: top;
          padding-right: .6rem;
        }
  
        
      }
      
  }
  
    
    .right-explanation {

      display: grid; 
      grid-template-columns: 1fr 1fr; 
      column-gap: 3rem; 
      grid-template-areas: 
        "september-forecast-img september-forecast-img ."
        "heading heading ."
        "content-left content-right ."; 
    }
  
    .september-forecast-img { 
      grid-area: september-forecast-img;   
    }
    .heading { 
      grid-area: heading;  
      width: 80%;
    }
    .content-left { 
      grid-area: content-left; 
      
        p {
        padding-bottom: 2rem;
       }
  
    }
    .content-right { 
      grid-area: content-right; 
    }
  }

  @include desktop {
    .transfers .container {
      display:flex;
    }
}