
//COLORS
$color-primary:#6366F1;
$color-dark:#0B0F19;
$color-gray:#9397AD;
$color-white:#FFFFFF;
$color-bold: #131022;
$color-text: #585C7B;
$color-nav-text: #33354D;
$color-text: #565973;
$color-border-gray: #E2E5F1;
$color-background-hero: linear-gradient(to bottom, #ffffff, #f6f5fa, #efeaf5, #e8e0ef, #eee2f5);
$color-bg2: #F3F6FF;
$color-success: #22C55E;
$color-input: #B4B7C9;


//PADDING
$base-padding: 1rem;


//BUTTONS
$base-border-radius: 8px;
$base-border-style: none;


//CURSOR
$base-cursor: pointer;


//TEXT DECORATION
$base-text-decoration: none;





