.container {
    width: 100%;
    margin-inline: auto; 
    padding-inline: 1rem;
  }

  @include tablet {
    .container {
    max-width: 742px;   
  }
  }

  @include desktop { 
    .container {  
    max-width: 1320px;
    }
}



